/* CSS MODERN RESET*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  background-color: #ECF2F8;
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* TYPOGRAPHY */

.text-preset-1 {
  color: #FFFFFF;
  font-family: "Barlow Semi Condensed", serif;
  font-size: 0.813rem; /* 13px */
  font-weight: 500;
  line-height: 100%;
}

.text-preset-2 {
  color: #FFFFFF;
  font-family: "Barlow Semi Condensed", serif;
  font-size: 0.688rem; /* 11px */
  line-height: 100%;font-weight: 500;
  opacity: 0.5;
  

}

.text-preset-3 {
  color: #FFFFFF;
  font-family: "Barlow Semi Condensed", serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  line-height: normal;
}

.text-preset-4 {
  color: #CFCFCF;
  font-family: "Barlow Semi Condensed", serif;
  font-size: 0.813rem; /* 13px */
  font-weight: 500;
  line-height: 1.125rem; /* 18px */ 
  opacity: 0.7;
}

.color-swap {
  color: #48556A;
}

/* PAGE LAYOUT */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 20.438rem; /* 327px */
  margin: 4.438rem auto; /* 71px 24px */
  gap: 1.5rem; /* 24px */
}



/* CARD LAYOUT */
.card {
  display: flex;
  flex-direction: column;
  width: 20.438rem; /* 327px */
  border-radius: 0.5rem; /* 8px */
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

#card1 {
  background-color: #733FC8;
  height: 27.75rem; /* 444px */
}

#card2 {
  background-color: #48556A;
  height: 15rem; /* 240px */
}

#card3 {
  background-color: #FFFFFF;
  height: 13.875rem; /* 222px */
}

#card4 {
  background-color: #19202D;
  height: 24rem; /* 384px */
}

#card5 {
  background-color: #FFFFFF;
  height: 15rem; /* 240px */
}


